.container {
	padding: 2rem;
	.eventBackBtn {
		background-color: #4c52be;
		color: #ffffff;
		padding: 5px 10px;
		border-radius: 5px;
		max-width: max-content;
		display: block;
		font-size: 12px;
		margin-bottom: 10px;
		font-weight: bold;
		transition: all 0.4s;
		&:hover {
			background-color: #4146a4;
			color: #ffffff;
		}
	}
	img {
		max-width: 100%;
		height: auto;
	}
	.eventHeroImage {
		object-fit: cover;
		aspect-ratio: 16/6;
		display: block;
		border-radius: 5px 5px 0 0;
		width: 100%;
	}
	.mainInfoContainer {
		text-align: left;
		padding: 2rem;
		border-radius: 0 0 5px 5px;
		background-color: #ffffff;
		color: #000000;
		box-shadow: #4e52a2 6px 6px 20px 0px;
		p,
		h1,
		h2,
		h3,
		h4,
		ul,
		ol,
		a,
		img {
			margin: 0;
		}
		.eventDate {
			margin-top: 10px;
		}
		h4 {
			margin-bottom: 20px;
		}
		.eventBtn {
			background-color: #4e52a2;
			color: #ffffff;
			padding: 10px 20px;
			display: inline-block;
			border-radius: 5px;
			transition: all 0.4s;
			border: solid 1px #4e52a2;
			cursor: pointer;
			font-weight: bold;
			margin-top: 40px;
			a {
				color: #ffffff;
			}
		}
		.eventBtn:hover {
			color: #ffffff;
			background-color: #4e52a2;
		}
	}
	.eventInfo,
	.eventSeatmap,
	.eventPleaseNote,
	.eventPriceRanges {
		border-top: solid 1px silver;
		padding-top: 40px;
		margin-top: 40px;
	}
}
